<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
    
<body>
    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item"><a href='/'>Shope</a></li>
                    <li class="main-header__item"><a class="active" href='/add-product'>Add-Product</a></li>
                    <li class="main-header__item"><a href='/contactus'>Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <form action="/success" method="post">
            <label for="name">Enter your Name  : </label>
            <input type="text">
            <label for="email">Email : </label>
            <input type="email">
            <button type="submit">SBMIT</button>
        </form>
    
</body>
</html>